*.pyc
.metadata
debug.log
*.log
build/
.settings
.vagrant
*.swp
.idea/*
*.DS_Store
.sass-cache
celerybeat.pid
shopventory/api/
shopventory/cover/
.coverage
.Python
src/
shopventory/static/
shopventory/celerybeat-schedule
shopventory.key
ssl.key
shopventory.private_key
.sync/
db.sqlite3
